@media (max-width: 767px) {
	body {
		margin:3px;
		padding:1px;
	}
}
@media (min-width: 767px) {
	body {
		margin: 20px;
	}
}

body {
	font-size:24px;
}

.input-prepend {
	display:table;
	width:100%;
	margin-bottom:15px;
}

.input-prepend .mc-input {
	display: table-cell;
	width:100%;
}

.add-on.mc-add-on {
	display: table-cell;
}

input[type="text"] {
	font-size:24px;
	padding:0px 0px 0px 8px;
	margin:0px;
	height:36px;
	width: 100%;
	border: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#add-item-input {
}

#add-item-form {
	padding:0px;
	margin:0px;
}

#list-button {
	width: 52px;
	height: 45px;
}

#groc-list .add-item-cell {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color:;
}

::-webkit-input-placeholder { 
	padding-top: 5px;
}

.table td {
	vertical-align: middle;
}

#groc-list .checkbox-cell {
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	width: 50px;
	padding: 0px;
	background-color: #f5f5f5;
}

.check {left:2px;}
.check-empty {left:0px;}

#groc-list .grocery-cell {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#groc-list .gc-checked {
	color:#aaa;
	background-color:#ecc;
}

.cb-button {
	color: #666;
	font-size: 16px;
	border:none;
	padding: 0px;
	margin: 0px;
	height: 50px;
	width: 50px;
}

.list-button {
	color: #fff;
	font-size: 14px;
	border:none;
	padding: 0px;
	margin: 0px;
	height: 45px;
	width: 50px;
}

.list-button .icon-large {
	position: relative;
	top:15px;
}

.cb-button .icon-large {
	position: relative;
	top: 17px;
}

.cb-unchecked, .cb-unchecked:link, .cb-unchecked:visited, .cb-unchecked:active,
.cb-checked, .cb-checked:link, .cb-checked:visited, .cb-checked:active {
	color:#ccc;
	text-decoration:none;
	padding-top:5px;
	padding-left:5px;
}

.cb-unchecked:hover, .cb-checked:hover {
	color:#fff;
}

.grocery-name {
	font-size:24px;
	padding: 3px 5px 3px 5px;
}

