/* ===== Device Formatting ===== */

@media (max-width: 767px) {
	body {
		margin:3px;
		padding:1px;
	}
}
@media (min-width: 767px) {
	body {
		margin: 20px;
	}
}

body {
	font-size:24px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

/* ===== Table ===== */

.table {
	border: none;
}

.table td {
	vertical-align: middle;
}

/* ===== List Button ===== */

#list-button {
	color: #fff;
	font-size: 14px;
	border: none;
	padding: 0px;
	margin: 0px;
	height: 45px;
	width: 50px;
}

#list-button .icon-large {
	position: relative;
	top:15px;
}

/* ===== Input (Add Item) ===== */

input[type="text"] {
	font-size:24px;
	padding:0px 0px 0px 8px;
	margin:0px;
	height:36px;
	width: 100%;
	border: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#add-item-input {}

#item-table .add-item-cell {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#add-item-form {
	padding:0px;
	margin:0px;
}

::-webkit-input-placeholder { 
	padding-top: 5px;
}

/* ===== Checkbox ===== */

#item-table .checkbox-cell {
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	width: 50px;
	padding: 0px;
	background-color: #f5f5f5;
}

.check {left:2px;}
.check-empty {left:0px;}

.cb-button {
	color: #666;
	font-size: 16px;
	border:none;
	padding: 0px;
	margin: 0px;
	height: 50px;
	width: 50px;
}

.cb-button .icon-large {
	position: relative;
	top: 17px;
}

.cb-unchecked, .cb-unchecked:link, .cb-unchecked:visited, .cb-unchecked:active,
.cb-checked, .cb-checked:link, .cb-checked:visited, .cb-checked:active {
	color:#ccc;
	text-decoration:none;
	padding-top:5px;
	padding-left:5px;
}

.cb-unchecked:hover, .cb-checked:hover {
	color:#fff;
}

/* ===== Item List ===== */

#item-table .grocery-cell {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#item-table .gc-checked {
	color:#aaa;
	background-color:#edd;
	text-decoration: line-through;
}

.grocery-name {
	text-decoration:inherit;
	font-size:24px;
	padding: 3px 5px 3px 5px;
}
