@media (max-width: 767px) {
	body {
		margin:3px;
		padding:1px;
	}
}
@media (min-width: 767px) {
	body {
		margin: 25px;
	}
}

body {
	font-size:24px;
}

input[type="text"] {
	font-size:24px;
	padding:5px 0px 5px 0px;
	box-sizing: content-box;
}

.input-prepend {
	display:table;
	width:100%;
	margin-bottom:15px;
}

.grocery-row {
}

.grocery-name {
	padding-top:12px;
	padding-left:5px;
	display: table-cell;
	vertical-align:middle;
}

.strikeout-cell {
	width:40px;
}

.edit-cell {
	width:40px;
	text-align:right;
}

.add-on.mc-add-on {
	display: table-cell;
}

.input-prepend .mc-input {
	display: table-cell;
	width: 100%;
	border-left-style:none;
}
